<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta lang="en-GB" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      body {
        background: #ddd;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #root {
        width: 80%;
        height: 80%;
        font-family: Arial;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <svg id="root" tabindex="0"></svg>
    <% for (const chunk of Object.keys(htmlWebpackPlugin.files.chunks)) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" defer></script>
    <% } %>
  </body>
</html>
